<template name="home">
	<div class="homepage">

		<a href="/calendar">
			<div class="homeBtn">
				<i class="fa fa-arrow-right fa-3x"></i><i class="fa fa-calendar fa-3x"></i>
			</div>		
		</a>

		<a href="/medicine">
			<div class="homeBtn">
				<i class="fa fa-arrow-right fa-3x"></i><i class="fa fa-medkit fa-3x"></i>
			</div>
		</a>

		<a href="/treatment">
			<div class="homeBtn">
				<i class="fa fa-arrow-right fa-3x"></i><i class="fa fa-user-md fa-3x"></i>
			</div>
		</a>

	</div>
</template>