<template name="navBar">
	<nav class="navbar navbar-inverse">
	  	<div class="container-fluid">
	    	<div>
	      		<ul class="nav navbar-nav">
			        <li><a href="/myhome"><i class="fa fa-home fa-2x"></i> My Home</a></li>
			        <li><a href="/calendar"><i class="fa fa-calendar fa-2x"></i> My Calendar</a></li>
			        <li><a href="/medicine"><i class="fa fa-medkit fa-2x"></i> My Medications</a></li> 
			        <li><a href="/treatment"><i class="fa fa-user-md fa-2x"></i> My Treatments</a></li> 
		      	</ul>
		      	<ul class="nav navbar-nav navbar-right">
       				<li><a href="#"><i class="fa fa-sign-in fa-2x"></i> {{>loginButtons}}</a></li>
      			</ul>
		    </div>
	  	</div>
	</nav>
</template>

