<template name = "medicine">
	<div class = "medPage">
		<div class = "center-block">
			<form class = "addMed">
				<label id="medName">Medicine Name: </label>
				<input type = "text" name = "text" placeholder = "Type new Medication Name">
				<button type = "submit">Add</button>
			</form>
			<h1>Medications</h1>
		</div>
		<div class = "medList">
			<ul>
				{{#each meds}}
					{{ >medlist}}
				{{/each}}
			</ul>
		</div>	
	</div>		

</template>

<template name = "medlist">
	<li>{{text}}</li>
</template>