<template name="medicine">
	<div class="row">
		<div class = "col-md-3">
			{{>medForm}}
		</div>
		
		<p class="medTitle">Medications</p>

		<div class = "col-md-9 medList">
			{{#each meds}}
				{{ >medlist}}
			{{/each}}
		</div>	
	</div>		
</template>

<template name = "medlist">
	<div class="eachMed">
		<div class="row">

			<b class="lbl">Name:</b> 
			<div class="medName">
				{{medName}}
			</div>

			<b class="lbl">Dosage:</b> 
			<div class="medDose">
				{{medDose}}mg
			</div>

			<b class="lbl">Date:</b>
			<div class="medDate">
				{{prettifyDate medDate}}
			</div>
			<br>
			<b class="lbl">Description:</b>
			<div class="medDesc">
				{{medDesc}}
			</div>
		</div>
		<hr>
	</div>
</template>

<template name="medForm">
	{{#autoForm collection="Meds" id="insertMedForm" type="insert"}}
		<fieldset>
			<legend><b>Add Medicine</b></legend>
			{{>afQuickField name="medName"}}
			{{>afQuickField name="medDose" type="text"}}
			{{>afQuickField name="medDate"}}
			{{>afQuickField name="medDesc" rows=6}}
		</fieldset>
		<button type="submit" class="btn btn-primary">Add</button>
		<button type="reset" class="btn btn-cancel">Clear</button>									
	{{/autoForm}}
</template>