.medList{
	overflow: scroll;
	background-color: #fff;
	border-radius: 5px;
	height: 400px;
}

.eachMed{
	padding: 10px;
}

.medTitle{
	font-weight: bold;
	font-size: 30px;
}

.medName{
	display: inline-block;
	width: 100px;
	word-wrap: break-word;
}

.medDose{
	display: inline-block;
	width: 50px;
	word-wrap: break-word;
}

.medDate{
	display: inline-block;
	width: 100px;
	word-wrap: break-word;
}

.medDesc{
	display: inline-block;
	word-wrap: break-word;
}