/*
Welcome Page Style
*/
.welcomeMsg{
	text-align: center;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

/*
Layout Style
*/
body{
	background-color: #33ccff;
	font-family: 'Open Sans', sans-serif;
}

.outerWall{
	padding: 50px 0;
	position: relative;
	background-color: #e6e6e6;	
}

.content{
	background-color: #b3ecff;
	padding: 30px 15px;
	position: absolute;
	height: auto;
	width: 100%;
}

/*
Nav Style
*/

.topnav{
	background-color: #33ccff;
	padding: 5px;
	margin-top: none;
	text-align: center;
}

.accounts-dialog{
	margin-left: -300%;
	margin-top: 0px;
}

.navbar{
	text-align: center;
	margin: 0px;
	border: 0px;
	border-radius: 0px;
}

.linkText{
	color: #e6e6e6;
}

.linkBox{
	background-color: #e0502f;
	border-radius: 15px;
	text-align: center;
	margin: 1%;
	display: inline-block;
	padding: 5px;
}

.linkBox:hover{
	background-color: #e56b53;
}

/*
HomePage Style
*/
.homepage{
	text-align: center;
}

.homeBtn{
	color: red;
	display: inline-block;
	padding: 2%;
	margin: 2%;
	background-color: #00ffff;
	border-radius: 20px;
	text-decoration: none;
}

.homeBtn:hover{
	background-color: #00e5e6;
	text-decoration: none;
}
