.treatList{
	overflow: scroll;
	background-color: #fff;
	border-radius: 5px;
	height: 400px;
}

.eachTreat{
	padding: 10px;
}

.treatTitle{
	font-weight: bold;
	font-size: 30px;
}

.treatmentName{
	display: inline-block;
	word-wrap: break-word;
}

.treatmentDate{
	display: inline-block;
	word-wrap: break-word;
}

.treatmentLocation{
	display: inline-block;
	word-wrap: break-word;
}

.treatmentDesc{
	display: inline-block;
	word-wrap: break-word;
}