<template name="chat">
	<div class="row">
		<p class="chatTitle">Welcome to All Chat</p>
		<div class="col-md-1"></div>
		<div class = "col-md-10 chatArea" id="chatArea">
			{{#each msg}}
				{{ >msgList}}
			{{/each}}
		</div>	
		<div class="col-md-1"></div>
		<div class="col-md-10 chatBar">
			{{>chatBar}}
			<p id="tester">Click Me</p>
		</div>
		<div class="col-md-1"></div>
	</div>
</template>

<template name="msgList">
	<div class="eachMsg" id="eachMsg">
		<div class="row">
			<b>{{user}}:</b> {{msg}}
		</div>
		<hr>
	</div>
</template>

<template name="chatBar">
	{{#autoForm collection="Chat" id="insertChatMsg" type="insert"}}
		<fieldset>
			{{>afQuickField name="msg" id="msgBox"}}
		</fieldset>
		<button type="submit" class="btn btn-primary">Send</button>									
	{{/autoForm}}
</template>
