<template name="welcome">
	<div class = "welcomeMsg">
		<h1>Welcome to OncoHub</h1>
		<h4>
			This website is designed for cancer patient use. With OncoHub, a patient is able to access info about both current and past medications under the My Medications tab by simply signing in to their account. Chemotherepy drugs are no longer difficult to keep track of. OncoHub will even notify the cancer patient when it is time to take their next dosage of their current medication through the My Calendar tab. With the My Treatments Tab, one can view the history of treatments they have recieved and what dates they occurred on. Getting in contact with your doctor will no longer be a struggle. With the My Doctor tab, one can view comments a doctor has said, or even just send them an email.
		</h4>
	</div>
</template>